VirtualMindWebTest/Connected Services/VirtualMindService/VirtualMindService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BE.Models.Base" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BE.Models.Base" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Error">
    <xs:sequence>
      <xs:element minOccurs="0" name="code" type="xs:int" />
      <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Error" nillable="true" type="tns:Error" />
</xs:schema>