VirtualMindWebTest/Connected Services/VirtualMindService/VirtualMindService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="VirtualMindService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49887/VirtualMindService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49887/VirtualMindService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49887/VirtualMindService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/VirtualMindTestService.Returns" />
      <xsd:import schemaLocation="http://localhost:49887/VirtualMindService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/VirtualMindTestService.Returns.Base" />
      <xsd:import schemaLocation="http://localhost:49887/VirtualMindService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/BE.Models.Base" />
      <xsd:import schemaLocation="http://localhost:49887/VirtualMindService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/BE.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IVirtualMindService_Cotizacion_InputMessage">
    <wsdl:part name="parameters" element="tns:Cotizacion" />
  </wsdl:message>
  <wsdl:message name="IVirtualMindService_Cotizacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:CotizacionResponse" />
  </wsdl:message>
  <wsdl:message name="IVirtualMindService_Usuarios_InputMessage">
    <wsdl:part name="parameters" element="tns:Usuarios" />
  </wsdl:message>
  <wsdl:message name="IVirtualMindService_Usuarios_OutputMessage">
    <wsdl:part name="parameters" element="tns:UsuariosResponse" />
  </wsdl:message>
  <wsdl:message name="IVirtualMindService_GetUserById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserById" />
  </wsdl:message>
  <wsdl:message name="IVirtualMindService_GetUserById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IVirtualMindService_InsertUser_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertUser" />
  </wsdl:message>
  <wsdl:message name="IVirtualMindService_InsertUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertUserResponse" />
  </wsdl:message>
  <wsdl:message name="IVirtualMindService_UpdateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUser" />
  </wsdl:message>
  <wsdl:message name="IVirtualMindService_UpdateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IVirtualMindService_DeleteUser_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUser" />
  </wsdl:message>
  <wsdl:message name="IVirtualMindService_DeleteUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUserResponse" />
  </wsdl:message>
  <wsdl:portType name="IVirtualMindService">
    <wsdl:operation name="Cotizacion">
      <wsdl:input wsaw:Action="http://tempuri.org/IVirtualMindService/Cotizacion" message="tns:IVirtualMindService_Cotizacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVirtualMindService/CotizacionResponse" message="tns:IVirtualMindService_Cotizacion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Usuarios">
      <wsdl:input wsaw:Action="http://tempuri.org/IVirtualMindService/Usuarios" message="tns:IVirtualMindService_Usuarios_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVirtualMindService/UsuariosResponse" message="tns:IVirtualMindService_Usuarios_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserById">
      <wsdl:input wsaw:Action="http://tempuri.org/IVirtualMindService/GetUserById" message="tns:IVirtualMindService_GetUserById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVirtualMindService/GetUserByIdResponse" message="tns:IVirtualMindService_GetUserById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IVirtualMindService/InsertUser" message="tns:IVirtualMindService_InsertUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVirtualMindService/InsertUserResponse" message="tns:IVirtualMindService_InsertUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IVirtualMindService/UpdateUser" message="tns:IVirtualMindService_UpdateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVirtualMindService/UpdateUserResponse" message="tns:IVirtualMindService_UpdateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IVirtualMindService/DeleteUser" message="tns:IVirtualMindService_DeleteUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVirtualMindService/DeleteUserResponse" message="tns:IVirtualMindService_DeleteUser_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IVirtualMindService" type="tns:IVirtualMindService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Cotizacion">
      <soap:operation soapAction="http://tempuri.org/IVirtualMindService/Cotizacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Usuarios">
      <soap:operation soapAction="http://tempuri.org/IVirtualMindService/Usuarios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserById">
      <soap:operation soapAction="http://tempuri.org/IVirtualMindService/GetUserById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertUser">
      <soap:operation soapAction="http://tempuri.org/IVirtualMindService/InsertUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <soap:operation soapAction="http://tempuri.org/IVirtualMindService/UpdateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <soap:operation soapAction="http://tempuri.org/IVirtualMindService/DeleteUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="VirtualMindService">
    <wsdl:port name="BasicHttpBinding_IVirtualMindService" binding="tns:BasicHttpBinding_IVirtualMindService">
      <soap:address location="http://localhost:49887/VirtualMindService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>